div.content{
	background-color:#808080;
	border:2px solid black;
	margin:10px;
	
}

p{
	
	border: 1px solid black;
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}
p.chicken{
	background-color: #ffb6c1;
}
p.beef{
	background-color: #ff6666;
}
p.sushi{
	background-color: #ffff99;
}
section{
	clear:right;
}
.mainHeading{
	text-align: center;
}
@media(min-width: 992px){
	div.content{
		width: 30%;
		float: left;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	div.content{
		width: 50%;
	}
}
@media(max-width: 767px){
	div.content{
		width: 100%;
	}
}